<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %} {% load
    static %}
    <title>Learn</title>
  </head>
  <body>
    {% include 'navbar.html' %} {%block content%} {%csrf_token %} {%endblock%}
  </body>

  <footer class="bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5>Contact Us</h5>
          <p>Email: info@example.com</p>
          <p>Phone: +1 (123) 456-7890</p>
        </div>
        <div class="col-md-6">
          <h5>Connect With Us</h5>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#" class="text-white"><i class="bi bi-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="text-white"><i class="bi bi-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="text-white"><i class="bi bi-linkedin"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="text-white"><i class="bi bi-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</html>
