{%extends 'base.html'%} {%block content%}

        <div class="container mt-5">
        <h2>Your Videos</h2>
        <div class="row mt-3">
            {% for video in user_videos %}
                <div class="col-md-4 mb-4" id="videoContainer">
                    <div class="card">
                        {% if video.thumbnail %}
                            <img src="{{ video.thumbnail }}" alt="{{ video.title }}" class="card-img-top" />
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ video.title }}</h5>

                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#videoModal{{ forloop.counter }}">
                                Play Video
                            </button>

                            <button type="button" class="btn btn-primary">Download</button>
                        </div>
                    </div>

                    <!-- Modal -->
 <div class="modal fade" id="videoModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="videoModalLabel{{ forloop.counter }}" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="videoModalLabel{{ forloop.counter }}">{{ video.title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    <!-- Assuming video.video_id is the YouTube video ID -->
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ video.video_id }}" allowfullscreen width="100%" height="500px" id="videoFrame{{ forloop.counter }}"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Add this script to your template
    var videoModal{{ forloop.counter }} = document.getElementById('videoModal{{ forloop.counter }}');
    videoModal{{ forloop.counter }}.addEventListener('hidden.bs.modal', function () {
        var iframe{{ forloop.counter }} = videoModal{{ forloop.counter }}.querySelector('iframe');
        var src{{ forloop.counter }} = iframe{{ forloop.counter }}.src;
        iframe{{ forloop.counter }}.src = '';
        iframe{{ forloop.counter }}.src = src{{ forloop.counter }};
    });
</script>
                </div>
            {% endfor %}
        </div>
    </div>

  {%endblock%}
</div>

